<!doctype html>
<html lang="en">
  <head>
    <title>History</title>
    {% include 'includecss.html.twig' %}
    {% include 'includescripts.html.twig' %}
  </head>

  <body style="background-color :#1C1F24; color:white">

    {% include 'header.html.twig' %}

    <main >

      {# Tableau des achats #}
      <h3 class="d-flex justify-content-center mt-5">Your purchases</h3>

      {% if libraries.length <= 0 %}
      <div class="form-floating p-1 text-center">List empty</div>
      {% else %}
      <table class="d-flex justify-content-center mt-3">
        <tr>
          <td class="b form-floating p-3 text-center fw-bold">Name</td>
          <td class="form-floating p-3 text-center fw-bold">Picture</td>
          <td class="form-floating p-3 text-center fw-bold">Type</td>
          <td class="form-floating p-3 text-center fw-bold">Purchases Date</td>
          <td class="form-floating p-3 text-center fw-bold">Purchase price</td>
          <td class="form-floating p-3 text-center fw-bold">Download</td>
          <td class="form-floating p-3 text-center fw-bold">Recommend ?</td>
        </tr>
        {% for library in libraries %}       
          <tr>
            <td class="form-floating p-3 text-center">{{library.title}}</td>
            <td class="form-floating p-3 text-center"><img src="/media/img/{{library.image}}.png" alt="" height="100"></td>
            <td class="form-floating p-3 text-center">{{library.type}}</td>
            <td class="form-floating p-3 text-center">{{library.purchaseDate.getMonth()}} / {{library.purchaseDate.getDate()}} / {{library.purchaseDate.getFullYear()}}</td>
            <td class="form-floating p-3 text-center">{{library.price}} <i class="bi bi-currency-bitcoin"></i></td>
            <td class="form-floating p-3 text-center"><a href="/library/{{library.uuid}}/download" class="btnLib bi bi-download"></a></td>
            {% if library.liked %}
            <td class="form-floating p-3 text-center"><a href="/library/{{library.uuid}}/like" class="btnLib bi bi-hand-thumbs-up-fill"></a></td>
            {% else %}
            <td class="form-floating p-3 text-center"><a href="/library/{{library.uuid}}/like" class="btnLib bi bi-hand-thumbs-up"></a></td>
            {% endif %}
          </tr>
        {% endfor %}
      {% endif %}
      </table>

    </main>
    
  </body>

</html>
