<!doctype html>
<html lang="en">
  <head>
    <title>Library</title>
    {% include 'includecss.html.twig' %}
    {% include 'includescripts.html.twig' %}
  </head>

  <body style="background-color :#1C1F24; color:white">

    {% include 'header.html.twig' %}

    <main >

      <form class="" action="/library/{{library.uuid}}/modify" method="post" enctype="multipart/form-data">
        <div class="mt-5" style="width: 100%;">
          <div class="d-flex justify-content-center"  style="width: 50%; float: left;"> 
              <img src="/media/img/{{library.image}}.png" alt="">
          </div>
          <div style="margin-left: 50%;">
            <div class='mt-5'>
              <label for="title">Name</label> 
              <input type="text" name="title" value={{library.title}}></input>
            </div>
            <div class='mt-5'>
             <label for="price">Price <i class="bi bi-currency-bitcoin"></i></label> 
             <input type="number" name="price" value={{library.price}}></input>
            </div> 
          </div>
        </div>
        <div class="ms-3 me-3 p-3 rounded" style="margin-top:7%; color:black; background-color:#A0A0A0">
          <h4>Description</h4>
          <input class="w-100" type="text" name="description" value={{library.description}}></input>
        </div>
        <div class="d-flex justify-content-evenly mt-4">
          <button class="btn btn-lg btn-warning" type="submit">Modify</button>
          <a href="/library/{{library.uuid}}" class="btn btn-lg btn-danger">Cancel</a>
        </div>
        
      </form>

    </main>
    
  </body>

</html>
