<!doctype html>
<html lang="en">
  <head>
    <title>Library</title>
    {% include 'includecss.html.twig' %}
    {% include 'includescripts.html.twig' %}
  </head>

  <body style="background-color :#1C1F24; color:white">

    {% include 'header.html.twig' %}

    <main >

      {% if message is defined %}
      <div class="mt-2 text-center" style="color:{{color}}">{{message}}</div>
      {% endif %}
      <div></div>
      <div class="mt-5" style="width: 100%;">
        <div class="d-flex justify-content-center"  style="width: 50%; float: left;"> 
            <img src="/media/img/{{library.image}}.png" alt="library-image" height="200">
        </div>
        <div style="margin-left: 50%;"> 
          <h1 class="" style="font-weight: 700; font-size:400%;">{{library.title}}</h1> 
          <p class="mt-5 mb-4">Price : {{library.price}} <i class="bi bi-currency-bitcoin"></i></p>
          <p class="mb-0">Creator : {{library.ownerName}}</p>
          <p class="mb-0">Sales : {{library.salesNumber}} <i class="bi bi-download"></i></p>
          <p class="mb-4">Encouragements : {{library.encouragementsNumber}} <i class="bi bi-hand-thumbs-up-fill"></i></p>
          {% if myLibrary %}
          <a href="/library/{{library.uuid}}/modify" class="btn btn-lg btn-warning">Modify</a>
          <a href="/library/{{library.uuid}}/delete" class="ms-2 btn btn-lg btn-danger">Delete</a>
          {% elseif owned %}
          <h1 style="color:green">You already have this asset !</h1>
          {% else %}
          <a href="/library/{{library.uuid}}/buy" class="btn btn-lg btn-custom">Buy Asset</a>
          {% endif %}
        </div>
      </div>
      <div class="p-3 m-5 rounded" style="color:black; background-color:#A0A0A0">
        <h4>Description</h4>
        <p>{{library.description}}</p>
      </div>
      

    </main>
    
  </body>

</html>
