<!doctype html>
<html lang="en">
  <head>
    <title>Inscription</title>
    {% include 'includecss.html.twig' %}
    {% include 'includescripts.html.twig' %}
  </head>

  <body style="background-color :#1C1F24; color:white">

    {% include 'header.html.twig' %}

    <main class>

      <h1 class="d-flex justify-content-center mt-3" style="font-weight: 700; font-size:400%;">Libraries</h1>

      <div class="d-flex justify-content-center">
        <a href="/newLibrary" class="btn btn-success ">Add library</a>
      </div>

      <div class="d-flex justify-content-center mt-3">Your libraries</div>

      {% if libraries.length <= 0 %}
      <div class="form-floating p-1 text-center">List empty</div>
      {% else %}
      <table class="d-flex justify-content-center mt-3">
        <tr>
          <td class="form-floating p-1 text-center">Id</td>
          <td class="form-floating p-1 text-center">Name</td>
          <td class="form-floating p-1 text-center">Picture</td>
          <td class="form-floating p-1 text-center">Date</td>
          <td class="form-floating p-1 text-center">Price</td>
          <td class="form-floating p-1 text-center">SalesNumber</td>
        </tr>
        {% for library in libraries %}
        <tr>
          <td class="form-floating p-1 text-center">{{library.id}}</td>
          <td class="form-floating p-1 text-center">{{library.name}}</td>
          <td class="form-floating p-1 text-center">{{library.image}}</td>
          <td class="form-floating p-1 text-center">{{library.releaseDate}}</td>
          <td class="form-floating p-1 text-center">{{library.price}}</td>
          <td class="form-floating p-1 text-center">{{library.salesNumber}}</td>
        </tr>
        {% endfor %}
        {% endif %}
      </table>

    </main>
    
  </body>

</html>
