<!doctype html>
<html lang="en">
  <head>
    <title>Inscription</title>
    {% include 'includecss.html.twig' %}
    {% include 'includescripts.html.twig' %}
  </head>

  <body style="background-color :#1C1F24; color:white">

    {% include 'header.html.twig' %}

    <main class>
      {# Titre #}
      <h1 class="d-flex justify-content-center mt-3" style="font-weight: 700; font-size:400%;">My libraries</h1>

      {# Boutton d'ajout d'une librarie #}
      <div class="d-flex justify-content-center">
        <button id="newLibrary" class="btn btn-success btn-lg mt-5">Add library</a>
      </div>

      {# Menu d'ajout d'une librarie #}
      <div id="boxNewLibrary" class="d-none z-3 position-absolute start-50 translate-middle text-bg-light" style="border-radius: 15px">
        <button id="closebox" class="position-absolute end-0 bi bi-x"></button>
        <form class="" action="/newLibrary" method="post" enctype="multipart/form-data">
          <table>
            <tr>
              <h3 class="p-2">New Library</h3>
            </tr>
            <tr>
              <td class="p-2"> <input class="form-control" name="title" type="text" placeholder="Title" required></td>
            </tr>
            <tr>
              <td class="p-2"> <input class="form-control" name="price" type="number" placeholder="Price" required></td>
            </tr>
            <tr>
              <td class="p-2"> 
              <label style="color: gray;" for="library">file.lib</label>
              <input class="form-control p-2" name="library" type="file" placeholder="library">
              </td>
            </tr>
            <tr>
              <td class="p-2"> 
                <select name="type" id="pet-select" required>
                <option value="">--Please choose a type--</option>
                <option value="Scene">Scene</option>
                <option value="Character">Character</option>
                <option value="Item">Item</option>
                <option value="Image_and_police">Image_and_police</option>
                </select>
              </td>
            </tr>
            <tr>
              <td class="p-2"> 
              <label style="color: gray;" for="image">Image</label>
              <input class="form-control p-2" name="image" type="file" placeholder="image">
              </td>
            </tr>
            <tr>
              <td class="p-2"> <button class="btn btn-lg btn-success w-100" type="submit">Add</button> </td>
            </tr>
          </table>
        </form>
      </div>

      {% if message is defined %}
      <div class="mt-2 text-center" style="color:orange">{{message}}</div>
      {% endif %}

      {# Tableau des libraries existantes #}
      <h3 class="d-flex justify-content-center mt-5">Your libraries</h3>

      {% if libraries.length <= 0 %}
      <div class="form-floating p-1 text-center">List empty</div>
      {% else %}
      <table class="d-flex justify-content-center mt-3">
        <tr>
          <td class="b form-floating p-3 text-center fw-bold">Name</td>
          <td class="form-floating p-3 text-center fw-bold">Picture</td>
          <td class="form-floating p-3 text-center fw-bold">Type</td>
          <td class="form-floating p-3 text-center fw-bold">Date</td>
          <td class="form-floating p-3 text-center fw-bold">Price</td>
          <td class="form-floating p-3 text-center fw-bold">Sales Number</td>
          <td class="form-floating p-3 text-center fw-bold">Encouragements Number</td>
        </tr>
        {% for library in libraries %}       
          <tr onclick="document.location='/library/{{library.uuid}}'" class="gridLine">
            <td class="form-floating p-3 text-center">{{library.title}}</td>
            <td class="form-floating p-3 text-center"><img src="/media/img/{{library.image}}.png" alt="" height="100"></td>
            <td class="form-floating p-3 text-center">{{library.type}}</td>
            <td class="form-floating p-3 text-center">{{library.releaseDate.getMonth()}} / {{library.releaseDate.getDate()}} / {{library.releaseDate.getFullYear()}}</td>
            <td class="form-floating p-3 text-center">{{library.price}} €</td>
            <td class="form-floating p-3 text-center">{{library.salesNumber}}</td>
            <td class="form-floating p-3 text-center">{{library.encouragementsNumber}}</td>
          </tr>
        {% endfor %}
        {% endif %}
      </table>

    </main>
    
  </body>

</html>

{# script pour les boutons d'ajout de librarie #}
<script>
  let btnLibrary = document.querySelector("#newLibrary");
  let boxNewLibrary = document.querySelector("#boxNewLibrary");
  let closebox = document.querySelector("#closebox");
  btnLibrary.addEventListener("click", () => {
    boxNewLibrary.classList.toggle("d-none");
  })
  closebox.addEventListener("click", () => {
    boxNewLibrary.classList.toggle("d-none");
  })

  function test(){
    return "abc";
  }
</script>
